# Игнорировать папки с определёнными названиями в любом месте проекта
**/pops/
**/pkls/
**/Environments/
**/log_execution/
**/.ipynb_checkpoints/

# Игнорировать файлы с определёнными расширениями
*.ppl
*.pkl
*.npy
*.prof
*.html

# Игнорировать временные файлы TeX
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv
*.fdb_latexmk
*.fls
*.lof
*.lot
*.nav
*.snm
*.vrb
